<%- include('partials/header') %>

<div class="homeDiv">
  <h1>Cropshree Lifesciences</h1>
  <p>Leading Manufacturer of agrochemicals in India</p>
  <a class="btn btn-dark btn-lg" href="/login" role="button">Admin Login</a>
</div>

<%- include('partials/footer') %>
